<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Concept Framework | Elegant PHP Skeleton{% endblock %}</title>

    <!-- Bootstrap 5.3 CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="/vendor/bootstrap-icons/bootstrap-icons.css">

    <!-- Highlight.js -->
    <link rel="stylesheet" href="/libs/highlight/styles/github-dark.min.css">

    <!-- Custom Frontend Styles -->
    <link rel="stylesheet" href="/assets/css/frontend.css">

    <link rel="icon" href="/assets/images/favicon.png" sizes="32x32" />

    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include '@frontend/partials/_navbar.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{% include '@frontend/partials/_footer.twig' %}

<!-- Bootstrap 5.3 JS Bundle -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Highlight.js -->
<script src="/libs/highlight/highlight.min.js"></script>

<!-- Custom Frontend Scripts -->
<script src="/assets/js/frontend.js"></script>

{% block scripts %}{% endblock %}
</body>
</html>
