<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '@frontend/partials/_title.twig' with { page_title: block('title') } %}
    {% block meta %}
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    {% endblock %}

    <link href="/assets/frontend/img/favicon.png" rel="icon">
    <link href="/assets/frontend/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/libs/aos/aos.css" rel="stylesheet">
    <link href="/libs/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/libs/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/frontend/css/main.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% include '@frontend/partials/_header.twig' %}

<main class="main{% if main_class is defined and main_class %} {{ main_class }}{% endif %}">
    {% block  body %}{% endblock %}
</main>

{% include '@frontend/partials/_footer.twig' %}
{% include '@frontend/partials/_scroll_top.twig' %}
{% include '@frontend/partials/_preloader.twig' %}
{% include '@frontend/partials/_scripts.twig' %}

{% block scripts %}{% endblock %}
</body>
</html>
