# Application configuration
APP_NAME="Concept Skeleton 2 DEV"
APP_TIMEZONE=Europe/Kyiv
APP_ENV=dev
APP_LOCALE=uk
APP_DEBUG=true

#Log configuration
LOG_LEVEL=debug
LOG_MAX_FILES=7
DB_LOG_QUERIES=true
VALIDATOR_LOG_VALIDATION_DATA=true

# Session configuration
SESSION_DRIVER=file

# Database configuration
DB_DRIVER=mysql
DB_HOST=concept_skeleton_dev_db_2
DB_PORT=3306
DB_DATABASE=concept_skeleton_dev_db_2
DB_USERNAME=root
DB_PASSWORD=root
