parameters:
    level: 9

    paths:
        - bootstrap
        - config
        - public
        - routes
        - src
        - src/Extensions/Http/src
        - src/Extensions/Casting/src

    excludePaths:
        - routes/*
        - */Models/*
        - src/Extensions/FormRequest/*
        - vendor/*
