parameters:
    level: 9

    paths:
        - bootstrap
        - config
        - public
        - routes
        - src

    excludePaths:
        - routes/*
        - */Models/*
        - vendor/*
