<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ uri('home') }}">PHP-CONCEPT.</a>
        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
                <li class="nav-item"><a class="nav-link" href="#quickstart">Quick start</a></li>
                <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="#structure">Structure</a></li>
                <li class="nav-item"><a class="nav-link" href="#cli">CLI</a></li>
                <li class="nav-item"><a class="nav-link" href="#docs">Docs</a></li>
                <li class="nav-item ms-lg-2">
                    <a class="btn btn-outline-dark btn-sm px-3 rounded-pill"
                       href="https://php-concept.github.io/concept-docs/en/index.html"
                       target="_blank" rel="noopener">
                        Documentation <i class="bi bi-box-arrow-up-right ms-1 small"></i>
                    </a>
                </li>
                <li class="nav-item ms-lg-1">
                    <a class="btn btn-dark btn-sm px-3 rounded-pill"
                       href="https://github.com/php-concept/concept-skeleton"
                       target="_blank" rel="noopener">
                        <i class="bi bi-github me-1"></i> Skeleton
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
